<!-- InitFreeSpins -->
{{> GameMode "freeSpins" }}
<div>
    
    <table>
        <tr>
            <td>

    <span class="bold">
        <**'spinsAwarded'**>:
    </span> 
            </td>
            <td>

    <span>{{spinCount}}</span> 
            </td>

        </tr>

    </table>
</div>