<!-- PickResult -->
<div>
    <h3><**'pickResult'**><**'{{id}}'**></h3>
    <div>
        <span><**'optionsPicked'**></span>:<span>{{> PickOptions optionsPicked}}</span>
    </div>
    <div>
        <span><**'picksAdded'**></span>:<span>{{picksAdded}}</span>
    </div>
    <div>
        <span><**'picksRemaining'**></span>:<span>{{picksRemaining}}</span>
    </div>
</div>