<!-- PickAction -->
<h3><**'pickAction'**><**'{{id}}'**></h3>
<div>
    <span><**'options'**></span>:<span>{{> PickOptions options}}</span>
</div>
<div>
    <span><**'pickCount'**></span>:<span>{{pickCount}}</span>
</div>